header, nav {
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3rem;
}
section img {
    padding-top: 30px;
    width: 100%;
    height: auto;
}
header {
    height: auto;
}
header img {
    float: left;
}
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 109, 109);
    color: white;
    text-align: center;
    font-size: small;
    padding: 3px;
}
a:link, a:visited {
      background-color: #f44336;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 6px 10px;
      margin: 0 20px;
      font-weight: bold;
      font-size: 1.5rem;
}
a:hover, a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 1px solid black;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.2rem im !important;
    }
    a {
        font-size: 1rem !important;
        margin: 0 5px !important;
        padding: 3px 5px;
    }
    table th, table td {
        font-size: 0.5rem;
    }
}
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    th, td {
        text-align: left;
        padding: 8px;
        font-size: 0.2rem;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    th {
        background-color: #ff4141;
        color: white;
    }
    th, tr, td {
        font-size: 1.5rem;
        border: 1px solid black;
    }
    tr:hover {
        background-color: rgb(255, 167, 167);
        cursor: pointer;
        font-weight: bold;
    }
    #colums {
          column-count: 2;
          column-gap: 40px;
          column-rule: 1px solid lightblue;
          display: block;
    }
    #colums td {
        font-size: 1.2rem;
    }
    #noColums td {
        font-size: 1.2rem;
    }
    .tag {
        font-family:'Courier New', Courier, monospace;
    }